<?xml version="1.0"?>
<launch>

    <!--name:variable name-->
    <arg name="show_description" default="true"/>
    <arg name="show_speech" default="false"/>
    <arg name="show_mic" default="false"/>
    <arg name="camera_name" default="rsD435"/>
    <arg name="sr_name" default="Vosk"/>
    <arg name="speaker_name" default="Speaker"/>
    <arg name="detection_name" default="YoloDet2"/>   
    <arg name="caption_name" default="OFA"/> 


    <!-- <node pkg="od_pkg" type="listen4command.py" name="$(arg sr_name)">        
    </node>
    <node pkg="od_pkg" type="realsensecam.py" name="$(arg camera_name)">        
    </node>
    <node pkg="od_pkg" type="speaker.py" name="$(arg speaker_name)" >        
    </node>
    <node pkg="od_pkg" type="yolodet2.py" name="$(arg detection_name)">        
    </node>   -->

<group if="$(arg show_description)">
    <node pkg="od_pkg" type="yolodet2.py" name="$(arg detection_name)" output="screen">        
    </node>     
</group>

<group if="$(arg show_speech)">
    <node pkg="od_pkg" type="speaker.py" name="$(arg speaker_name)" output="screen">        
    </node>
</group>

<group if="$(arg show_mic)">
    <node pkg="od_pkg" type="listen4command.py" name="$(arg sr_name)">        
    </node>
</group>

    <node pkg="od_pkg" type="realsensecam.py" name="$(arg camera_name)">        
    </node>

    <node pkg="od_pkg" type="captioningofa.py" name="$(arg caption_name)" output="screen">        
    </node>

</launch>